* {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
  font-style: normal;
}
.fa-person-running,
td {
  font-size: 60px;
}

table {
  border-radius: 1em;
  border-collapse: collapse;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  border-spacing: 0;
}
th {
  background-color: #ffde59;
}
td,
th {
  border-bottom: 5px solid black;
  padding: 10px;
  text-align: center;
}
td {
  color: #ffde59;
  background-color: transparent;
}
h1 {
  background-color: transparent;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  color: #ffde59;
  text-align: center;
  padding: 10px;
  width: 100vw;
}
/* 





*/
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  img {
    width: 200px;
    height: 100px;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-top: 8px solid #ddd;
    border-bottom: 8px solid #ddd;
    margin-bottom: 10px;
    display: block;
  }

  table td {
    display: block;
    text-align: center;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/*





*/
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
body {
  background: url("/wpp2.jpg")
  no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

/*BARRA DE NAVEGADOR*/
header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
nav {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 5px;
}
nav ul {
  background-color: transparent;
  backdrop-filter: blur(50px);
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  justify-content: space-around;
}
nav ul li {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
nav ul li a {
  width: 100%;
  color: #ffeea8;
}
nav ul li a:hover {
  transition: 200ms;
  color: #ffe57c;
  font-size: 1.2em;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
