/* Estilo del main */
main {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-size:28px;
    max-width: 500px;
    margin: 0 auto;
}

body {
    background: url(../../wpp2.jpg) no-repeat;
    font-family: 'Braah One', sans-serif;
    color :#ffde59;
}
/* Clases atomicas */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}
.messoge {
    font-size: 28px;
    color: #ffde59;
}
.ans {
    font-size: 40px;
    background-color: #ffde59;
    color: white;
}

.w20 {
    width: 20%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

img {
    height : 450px;
    width:450px;
}

.letra {
    border: 4px solid black;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    margin:5px;
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interaction1,.interaction2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input {
    font-size: 1.3em;
    padding: 0.5em;
}
.interaction1 input {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 4px solid #ffde59;
    border-radius: 20%;
    color: #ffde59;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
.interaction2 input {
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 4px solid #ffde59;
    color: #ffde59;
}

input::placeholder {
    color:#456CA9;
}

button {
    width: 20%;
    padding: 15px;
    background-color: #BF9E14;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.17em;
}

button:hover, button:focus {
    background-color: #E9C533;
    cursor: pointer;
}
label {
    color: #ffde59;
    font-size: 23px;
    font-weight: bold;
}

h1 {
    color: #ffde59;
    font-size: 48px;
}